#intelligent-moving .container {
    z-index: 1;
}
#intelligent-moving .figure--inline {
    background-color: #FFFAE3;
    padding: 24px;
    display: flex;
    max-width: 390px;
    margin: 0 auto;
}
#intelligent-moving .figure--inline .figure-caption {
    color: #262626;
    font-weight: bold;
}
#intelligent-moving .figure--inline .figure-caption__counter {
    color: #262626;
    font-size: 2.4rem;
}

@media (min-width: 992px) {
    #intelligent-moving .figure--inline {
        padding: 36px 24px;
    }
    #intelligent-moving:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 24px;
        background-image: url(../../images/sections/intelligent-moving/macbook.png);
        background-position: 20% bottom;
        background-size: auto 80%;
        background-repeat: no-repeat;
    }
}