#project-works--number-of-files-in-total h3 {
    margin-top: 12px;
    margin-bottom: 0;
}
#project-works--total-cost-miscalculation {
    background-color: #FFFFD3;
    padding: 24px;
}

#project-works .link-dashed {
    text-decoration: none;
    color: #F16464;
}
#project-works .link-dashed>img {
    margin-right: 24px;
}
#project-works .link-dashed>span {
    border-bottom: #F47C79 1px dashed;
}
#project-works hr {
    margin: 0;
}

#list-of-summary {
    margin-bottom: 60px;
}
#list-of-summary .figure--inline {
    padding: 0;
    margin-bottom: 32px;
}

#list-of-number-of-files .figure--inline {
    padding: 1.125rem;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    #project-works--schema {
        margin-left: -36px;
    }

    #list-of-number-of-files .figure--inline {
        padding: 2.25rem 1.125rem;
    }

    #project-works--number-of-files-in-total {
        padding-top: 48px;
    }
    #project-works--total-cost-miscalculation {
        padding: 55px;
    }
}

@media (min-width: 992px) {
    #project-works--number-of-files-in-total {
        padding-right: 60px;
    }
}